p {
    font-family: Arial, sans-serif;
    font-size: 2em;
    font-style: italic;
}

h1 {
    font-family: 'Sintony', sans-serif;
    font-size: 3em;
    text-align: center;
    color: green;
    padding: 150px;
    background-image: url("https://raw.githubusercontent.com/subdense/dashboard/master/img/backgroundTH.jpg") ;
}

body {
    background-color: #e4e7f0;
}
/* Styles CSS pour les transitions et les animations */
.image-container img {
    transition: transform 0.3s ease;
  }
  
  .image-container img:hover {
    transform: scale(1.1);
  }
  
  /* Styles CSS pour les images */
  .image-container img {
    width: 700px; /* Ajustez la largeur selon vos besoins */
    height: auto;
    margin-bottom: 10px;
  }
  